include README.* WHATSNEW WHATSNEW.* VERSION_NUMBERING MANIFEST.in requirements.txt
recursive-include doc *
recursive-include doc-src *
recursive-include examples *
global-include COPYING COPYING.* LICENSE LICENSES
global-exclude *~ *.pyc *.pyo
prune build
prune dist
